.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.*.timestamp-*
.cloudflare
.wrangler
.vscode/
.svelte-kit/*
.source
bun.lockb
migrations/*
.docusaurus/*
*/.next/*
*/dist/*
apps/docs/.next/*
bun.lock
dist/
packages/template-fumadocs/.next/*
.next/
.claude/
.svelte-kit/